@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lexend+Tera&family=Ma+Shan+Zheng&family=Tenali+Ramakrishna&display=swap");

*{
  background-color:rgb(19, 19, 19);
  color:#d4af37;
}

.App {
  text-align: center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:62vw;
  margin:15px auto;
  border:10px solid black;
  background-color:black;
  box-shadow:2px 2px 5px rgb(50, 58, 57);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #d4af37;;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.eng {
  font-family: 'Ma Shan Zheng', cursive;
  font-size:100px;
  color: #d4af37;
}

.han{
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size:32px;
  line-height:1.4em;
  margin-bottom:10px;
  color:#d4af37;
}

.pin{
  font-family: 'Lato', sans-serif;
  line-height: 1.4em;
  font-size:14px;
  color:black;
  background:transparent;
  text-align: justify;
}